html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border: 1px solid #eeffcc;
  border-radius: 5px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191f1c;
}

p {
  color: #eeffcc;
}
